.body-content {
    background-color: #f5f5f5;
}

.container-fluid {
    border-bottom: 0.5px solid silver;
    position: fixed;
    top: 0px;
    z-index: 5;
}

@font-face {
    font-family: "Billabong";
    src: url("./Billabong.ttf");
}

.insta-font {
    font-family: "Billabong";
}
 
#navbarHeader {
    /* justify-content: space-evenly; */
    display: flex;
    overflow: scroll;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

#content{
    display: flex;
    display-direction: row;
    overflow-x: auto;
}

#content.container {
    padding-top: 80px;
}

.container {
    overflow: scroll;
    padding-top: 10px;
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr; */
}

#feed-content {
    position: static;
    overflow: hidden;
    /* border: 0.5px solid silver; */
    /* background-color: blue;  */
    /* width: 50%; */
    /* margin: 10px; */
}

#story-content {
    position: fixed;
    height: 400px;
    width: 400px;
    top: 80px;
    left: 955px;
    overflow: scroll;
    margin: 10px;
}

#better-instagram {
    position: absolute;
    top: 7px;
    left: 80px; 
    width: 100px;
    justify-content: lecontainer-fluidft;
}

#logo {
    /* position: relative;
    top: -3px;
    left: 20px;
    height: 20px;
    width: 20px; */
    padding-right: 5px;
    border-right: 0.5px solid black;
    justify-content: right;
    width: 25px;
    /* margin-right: 10px;
    padding: 5px;
    border-right: 1px solid black; */
}

/* #pipe {
    position: relative;
    top: 0px;
    left: 12px;
} */

.icon {
    margin-right: 30px;
}

#nav-heart-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
}

#nav-compass-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
}

#nav-user-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
}

#nav-search {
    justify-content: center;
}

#nav-icons {
    justify-content: left;
}

#nav-logo {
    justify-content: right;
    margin-left: 125px;
}

@media only screen and (max-width: 1120px) {
    #nav-search {
      visibility: hidden;
    }

    #story-content {
        visibility: hidden;
    }

    #content {
        justify-content: center;
    }

    #navbarHeader {
        /* justify-content: space-evenly; */
    }

    #nav-icons{
        justify-content: center;
    }
}

#search-bar {
    background-color: #f5f5f5;
    background-image: url("search-solid.svg");
    background-repeat: no-repeat;
    background-position: 45px 3px;
    background-size: 5%;
    text-align: center;
    border-radius: 5px;
    height: 20px;
    width: 200px;
}

::-webkit-input-placeholder {
    opacity: 0.7;
}

#search-bar:focus-within{
    background-color: none;
    background-image: url("search-solid.svg");
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 5%;
    border-radius: 5px;
    height: 20px;
    width: 200px;
}

#search-bar:focus-within::-webkit-input-placeholder{
    visibility: hidden;
}

/* #navbarHeader #nav-search {
    justify-content: center;
} */


.post {
    height: 1015px;
    width: 700px;
    background-color: white;
    margin-bottom: 30px;
    border: 0.5px solid silver;
}

.post-user {
    display: flex;
}

.post-pic > img{
    top: 100px;
    left: 0px;
    height: 700px;
    width: 698px;
    /* margin-top: 75px; */
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.username {
    color: black;
    font-family: 'Montserrat';
    /* font-display: bold; */
    font-size: 16px;
    /* position: relative; */
    /* left: 50px; */
    top: 25px;
}

.comment {
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
}

.comment .username {
    margin-left: 5px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: black;
}

.comment-icon {
    height: 20px;
    width: 20px;
    margin: 10px;
    position: relative;
    left: 0px;
}

.comment-icon-right {
    height: 20px;
    width: 20px;
    margin: 10px;
    position: relative;
    left: 525px;
}

hr {
    width: 600px;
    stroke: 1px solid black;
}

.time-posted {
    margin: 5px;
    font-family: 'Montserrat';
    font-size: 14px;
    opacity: 0.7;
    color: grey;
}

.add-comment {
    margin: 5px;
    font-family: 'Montserrat';
    font-size: 14px;
    opacity: 0.7;
    color: grey;
    top: -30px;
}

.ellipses {
    height: 20px;
    width: 20px;
    margin: 10px;
    position: relative;
    left: 500px;
}